.app {
}

.app-main {
  display: flex;
}

.app-left {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
}

.app-right {
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  background: #f8fbfd;
  min-height: 80vh;
}

@media (max-width: 600px) {
  .app-main {
    flex-direction: column-reverse;
  }

  .app-right {
    min-height: auto;
    padding-bottom: 1.75rem;
  }
}
