.form {
  width: 480px;
  margin-top: 3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  width: 100%;
  font-size: 1.25rem;
  font-family: Roboto;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  resize: none;
  box-sizing: border-box;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.emoji-picker {
  width: 100%;
  color: #ce0000;
  padding: 43px 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px dashed #ce0000;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    max-width: 90%;
    margin: 1.5rem auto 2rem;
  }

  .form-label {
    margin-bottom: 1rem;
  }

  .form-textarea {
    margin-bottom: 2rem;
    min-height: 139px;
  }

  .form-input {
    margin-bottom: 2rem;
  }

  .emoji-picker {
    font-size: 20px;
    line-height: 23px;
  }
}
